data/raw/
data/bronze/
data/silver/
data/gold/
__pycache__/
*.pyc
.env
.DS_Store

# Airflow
logs/
airflow.db
airflow.cfg
unittests.cfg
webserver_config.py

# Spark
metastore_db/
derby.log
spark-warehouse/
*.log

# DuckDB
results.duckdb
